<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>什么是Vue应用和组件</title>
</head>
<body>
<div id="root">

    <!--
        模板 vue会优先使用template配置的内容，没有声明template则使用root div内部的数据作为模板

        模板字符串两种形式 ``和''

        {{ data key }} 插值表达式 => 数值改变 重新渲染
        v-xxx Vue指令
        => v-once 只渲染一次 <div v-once>{{message}}</div>  数值改变 依旧引起渲染 但内容不会更新
        => v-html 插值内容不进行转义 <div v-html="message"></div> 此后div里面的内容无效，将替换成message的内容
        => v-bind:属性 绑定如id name等属性 <div v-bind:id="dynamicId"></div>
            缩写形式 `:` <div :id="dynamicId"></div>
        => v-if v-else-if v-else 控制控件的显示隐藏(是否添加到DOM)  下面通过变量showIf和showElseIf来判断显示三个div控件中的哪一个
            <div v-if="showIf">showIf is true</div>
            <div v-else-if="showElseIf">showIf is false, showElseIf is true</div>
            <div v-else>showIf is false, showElseIf is false</div>
        => v-for 列表渲染 对数组和对象进行遍历并渲染都控件 配合 :key 优化性能只渲染被改变和新增的项
            <div v-for="color in colors">{{color}}</div>
            <div v-for="(color, index) in colors" :key="index">{{index}} | {{color}}</div>
            <div v-for="(value, key, index) in person">{{index}} | {{key}} | {{value}}</div>
            需要注意的是：生成的input不能编辑修改
        => v-show 控制控件的显示隐藏(无论隐藏与否都会添加到DOM，通过添加style="display:none;"实现隐藏)
            v-show与v-if v-else-if v-else这两种方式的选择： 如果控件显示和隐藏很频繁，选择v-show，反之，选择v-if v-else-if v-else
        => v-on 监听事件  <div v-on:click="onClick">点击弹出告警框</div>
            事件类型 click点击事件  mouseenter鼠标指向事件 ......
            缩写形式 `@`  <div @:click="onClick">点击弹出告警框</div>
            如果事件类型是变量：`@[事件变量]` <div @[event]="onClick">弹出告警框</div>
        [arg] 动态参数
        {{ 表达式 }} js表达式 要求结果可以赋值给一个变量 a=1+2 => <div>{{ 1 + 2 }}</div>

        template: `
        ` +
        /*

        禁止默认行为的两种方式：
        1.在监听提交按钮事件，里面加入 e.preventDefault
        2.使用vue的修饰符`.xxx`  @click.prevent
        */
    -->

    <div v-on:click="onClick" v-bind:id="dynamicId" v-html="message"></div>
    <hr>
    <div @[event]="onClick" :[attr]="dynamicId" v-show="show">{{ 1 + 2 }}</div>
    <hr>

    <!--
    form action 默认行为：跳转到url
    禁止默认行为的两种方式：
        1.在监听提交按钮事件，里面加入 e.preventDefault
        2.使用vue的修饰符`.xxx`  @click.prevent
    -->
    <form action="https://www.baidu.com">
        <button type="submit">默认提交</button>
    </form>
    <hr>
    <form action="https://www.baidu.com" @click="onSubmit">
        <button type="submit">提交</button>
    </form>
    <hr>
    <form action="https://www.baidu.com" @click.prevent="onClick">
        <button type="submit">提交</button>
    </form>
    <hr>

    <!-- 条件渲染 -->
    <div v-if="showIf">showIf is true</div>
    <div v-else-if="showElseIf">showIf is false, showElseIf is true</div>
    <div v-else>showIf is false, showElseIf is false</div>
    <hr>

    <!-- 列表渲染 反例 动态增加colors数组长度还要手动添加div -->
    <div>
        <div>{{colors[0]}}</div>
        <div>{{colors[1]}}</div>
    </div>
    <hr>

    <button @click="addItem">新增</button>
    <!-- 列表渲染 正例 使用 v-for  web控制台输入vm.$data.colors.push("chry")测试动态增加div -->
    <div>
        <div v-for="color in colors">{{color}}</div>
    </div>
    <hr>
    <!-- 列表渲染 v-for获取数组元素和索引 使用指定:key优化vue渲染性能（只对新增和变化进行渲染）-->
    <div>
        <div v-for="(color, index) in colors" :key="index">{{index}} | {{color}}</div>
    </div>
    <hr>
    <!-- 列表渲染 v-for获取对象的元素和索引 注意value, key, index三者顺序-->
    <div>
        <div v-for="(value, key, index) in person">{{index}} | {{key}} | {{value}}</div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>

    /*
    mvvm 设计模式 model数据（data） view视图（模板） vm数据视图连接层（根组件）

    onClick函数会在我们点击的时候被执行（手动执行）

    [生命周期图示](https://v3.cn.vuejs.org/guide/instance.html#生命周期图示)
    生命周期函数：在某个时刻会自动执行的函数
     */

    // 创建 Vue 应用
    const app = Vue.createApp({
        // 根组件配置
        //方法
        methods: {
            onClick() {
                alert('click');
            },
            onSubmit(e) {
                e.preventDefault();
                alert('默认的跳转行为已经被禁止');
            },
            addItem() {
                // push pop shift unshift splice sort reverse
                this.colors.push('newItem');
            }
        },
        // 数据
        data() {
            return {
                message: '<h1>Hello World</h1>',
                dynamicId: 123,
                show: true,         // v-show
                showIf: false,      // v-if 条件渲染
                showElseIf: true,   // v-else-if 条件渲染
                colors: ['red', 'green', 'blue'],    // v-for 列表渲染
                person: {
                    name: 'chry',
                    age: 25,
                    hobby: 'sleep'
                },
                event: 'mouseenter',    // mouseenter  click
                attr: 'test'
            }
        }
    });

    // 根组件
    const vm = app.mount('#root');
</script>

</body>
</html>